@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
  --bg: #121212;
  --panel: rgba(255,255,255,0.04);
  --muted: #94a3b8;
  --accent: #007bff;
  --accent2: #38bdf8;
}

body{
   background :var(--bg);
}

.auth-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', system-ui, Arial;
  color: #e6eef8; 
}
h1 {
    position: absolute;
    align-self: center;
    top: 2rem;
    font-size: 1.8rem;
    font-weight: 700;
    margin: auto;
}
h1:hover{
   color: var(--accent2);
  }

.card {
  background: var(--panel); 
  padding: 2.5rem;
  border-radius: 12px;
  width: 100%;
  max-width: 380px;
box-shadow: 0 0 4px rgba(174, 172, 172, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.05); 
}

.card h2 {
  text-align: center;
  color: var(--accent2);
  margin-bottom: 1.5rem;
  font-weight: 700;
}


label {
  display: block;
  margin-bottom: 1.2rem;
}

label span {
  display: block;
  color: var(--muted); 
  margin-bottom: 0.4rem;
}


input[type="text"], 
input[type="email"], 
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #334155; 
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.03); 
  color: #e6eef8; 
  transition: border-color 0.2s, background 0.2s;
}

input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="password"]:focus {
    outline: none;
    border-color: var(--accent2);
    background: rgba(255, 255, 255, 0.05);
}

.btn {
  width: 107%;
  background: var(--accent); 
  color: #0f172a; 
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  margin-top: 0.5rem;
  transition: background 0.2s;
}

.btn:hover {
  background: #06e1f1; 
}

p.muted { 
    text-align: center; 
    margin-top: 1.5rem; 
    color: var(--muted); 
    font-size: 0.95rem;
}

p.muted a { 
    color: var(--accent2); 
    text-decoration: none;
    font-weight: 600;
}

p.muted a:hover { 
    text-decoration: underline; 
}


.alert {
    padding: 10px 15px;
    border-radius: 8px;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}
.alert.error {
    background: rgba(255, 0, 0, 0.15);
    border: 1px solid rgba(255, 0, 0, 0.3);
    color: #ff9999;
}
.alert ul {
    list-style: none;
    padding: 0;
    margin: 0;
}