@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


:root {
   --bg: #121212;
  --panel: rgba(255,255,255,0.04);
  --muted: #94a3b8;
  --accent: #007bff;
  --accent2: #38bdf8;
  --text-light: #e6eef8;
  --error: #f87171;
}


body {
  background:var(--bg);
  font-family: 'Inter', system-ui, Arial;
  color: var(--text-light);
  margin: 0;
  padding: 0;
}


.auth-page {
  display: flex;
  justify-content: center;   
  align-items: center;      
  height: 100vh;            
  width: 100%;
  padding: 16px;
}

h1 {
    position: absolute;
    align-self: center;
    top: 2rem;
    font-size: 1.8rem;
    font-weight: 700;
    margin: auto;
}

h1:hover{
   color: var(--accent2);
  }

  
.card {
  background: var(--panel);
  padding: 45px;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0px 4px rgba(255, 255, 255, 0.9);

  text-align: left;
}


h2 {
  text-align: center;
  color: var(--accent2);
  margin-bottom: 1.5rem;
  font-weight: 700;
}

label {
  display: block;
  margin-bottom: 1.2rem;
}

label span {
  display: block;
  font-size: 0.9rem;
  color: var(--muted);
  margin-bottom: 0.4rem;
}

input[type="text"], 
input[type="email"], 
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #334155;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.03);
  color: var(--text-light);
  transition: border-color 0.2s ease, background 0.2s ease, transform 0.2s ease; 

}

input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="password"]:focus {
  outline: none;
  border-color: var(--accent2);
  background: rgba(255, 255, 255, 0.05);
  transform: scale(1.02); 
  
}

.btn {
  width: 100%;
  background: var(--accent);
  color: #0f172a;
  font-weight: 700;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: background 0.2s;
  transition: background 0.3s ease, transform 0.3s ease; 
}

.btn:hover {
  background: #06e1f1;
   transform: scale(1.08);
  transition: background 0.3s ease, transform 0.3s ease; 
  color: white;
}

p {
  text-align: center;
  margin-top: 1.5rem;
  color: var(--muted);
  font-size: 0.95rem;
}

a { 
  color: var(--accent2);
  text-decoration: none; 
  font-weight: 600;
}

a:hover { 
  text-decoration: underline; 
}

.alert {
    padding: 10px 15px;
    border-radius: 8px;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}
.alert.error {
    background: rgba(255, 0, 0, 0.15);
    border: 1px solid rgba(255, 0, 0, 0.3);
    color: var(--error);
}
.alert ul {
    list-style: none;
    padding: 0;
    margin: 0;
}